/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: RobotoCondensed-Bold;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix");
  src: url("../fonts/RobotoCondensed-Bold.eot?") format("eot"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Light.eot?#iefix");
  src: url("../fonts/Roboto-Light.eot?") format("eot"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: MyriadPro-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadPro-Regular.eot?#iefix");
  src: url("../fonts/MyriadPro-Regular.eot?") format("eot"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.eot?#iefix");
  src: url("../fonts/Roboto-Regular.eot?") format("eot"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNeue-CondensedBold;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeue-CondensedBold.eot?#iefix");
  src: url("../fonts/HelveticaNeue-CondensedBold.eot?") format("eot"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
}
/* line 8, ../sass/custom.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/custom.scss */
body {
  min-width: 1000px;
}

/* line 14, ../sass/custom.scss */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 18, ../sass/custom.scss */
.container {
  margin: 0 auto;
  width: 1000px;
}

/* line 22, ../sass/custom.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 50.5px;
  color: #fff;
  text-transform: uppercase;
}

/* line 28, ../sass/custom.scss */
p {
  font-size: 14px;
  color: #fff;
}

/* line 32, ../sass/custom.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 16, ../sass/mixins.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 21, ../sass/mixins.scss */
.row:after {
  clear: both;
}

/* line 37, ../sass/custom.scss */
.col-1 {
  width: 8.33333%;
}

/* line 40, ../sass/custom.scss */
.col-2 {
  width: 16.66667%;
}

/* line 43, ../sass/custom.scss */
.col-3 {
  width: 25%;
}

/* line 46, ../sass/custom.scss */
.col-4 {
  width: 33.33333%;
}

/* line 50, ../sass/custom.scss */
.col-5 {
  width: 41.66667%;
}

/* line 54, ../sass/custom.scss */
.col-6 {
  width: 50%;
}

/* line 57, ../sass/custom.scss */
.col-7 {
  width: 58.33333%;
}

/* line 60, ../sass/custom.scss */
.col-8 {
  width: 66.66666%;
}

/* line 63, ../sass/custom.scss */
.col-9 {
  width: 75%;
}

/* line 66, ../sass/custom.scss */
.col-10 {
  width: 83.33333%;
}

/* line 69, ../sass/custom.scss */
.col-11 {
  width: 91.66667%;
}

/* line 72, ../sass/custom.scss */
.col-12 {
  width: 100%;
}

/* line 75, ../sass/custom.scss */
a {
  text-decoration: none;
}

/* line 78, ../sass/custom.scss */
[class*=col-] {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/*-----header----------------------------------------*/
/* line 9, ../sass/layouts.scss */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
/* line 15, ../sass/layouts.scss */
.header .header_wrap {
  padding-top: 50px;
}
/* line 16, ../sass/mixins.scss */
.header .header-top:before, .header .header-top:after {
  content: "";
  display: table;
}
/* line 21, ../sass/mixins.scss */
.header .header-top:after {
  clear: both;
}
/* line 20, ../sass/layouts.scss */
.header .header-top .logo {
  float: left;
}
/* line 22, ../sass/layouts.scss */
.header .header-top .logo h1 {
  font-family: RobotoCondensed-Bold;
  font-style: normal;
  font-weight: normal;
}

/*-----Main menu-----------*/
/* line 29, ../sass/layouts.scss */
.main-menu {
  margin-top: 9px;
  padding: 1px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
/* line 16, ../sass/mixins.scss */
.main-menu:before, .main-menu:after {
  content: "";
  display: table;
}
/* line 21, ../sass/mixins.scss */
.main-menu:after {
  clear: both;
}
/* line 35, ../sass/layouts.scss */
.main-menu li {
  float: left;
}
/* line 37, ../sass/layouts.scss */
.main-menu li a {
  display: block;
  position: relative;
  height: 47px;
  line-height: 46px;
  padding: 0 23px;
  font-size: 14px;
  text-transform: uppercase;
  color: #6d6e71;
  font-family: RobotoCondensed-Bold;
  font-style: normal;
  font-weight: normal;
}
/* line 50, ../sass/layouts.scss */
.main-menu .menu-item a:after {
  content: "\f0da";
  position: absolute;
  right: 5px;
  font-size: 10px;
  font-family: FontAwesome;
  color: #6D6E71;
}
/* line 59, ../sass/layouts.scss */
.main-menu .cart {
  float: right;
  background-color: #5d8f25;
  background: #54a329;
  background: -moz-linear-gradient(top, #54a329 0%, #421e20 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #54a329), color-stop(100%, #421e20));
  background: -webkit-linear-gradient(top, #54a329 0%, #421e20 100%);
  background: -o-linear-gradient(top, #54a329 0%, #421e20 100%);
  background: -ms-linear-gradient(top, #54a329 0%, #421e20 100%);
  background: linear-gradient(to bottom, #54a329 0%, #421e20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54a329', endColorstr='#421e20', GradientType=0 );
}
/* line 70, ../sass/layouts.scss */
.main-menu .cart a {
  padding: 0 65px 0 41px;
  color: #fff;
}
/* line 74, ../sass/layouts.scss */
.main-menu .cart .fa {
  padding: 2px 4px 2px 2px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
}

/*-----top menu-----------*/
/* line 83, ../sass/layouts.scss */
.top-menu {
  float: right;
  width: 57%;
}
/* line 86, ../sass/layouts.scss */
.top-menu ul {
  float: left;
}
/* line 88, ../sass/layouts.scss */
.top-menu ul li {
  float: left;
  padding: 20px 22px;
}
/* line 91, ../sass/layouts.scss */
.top-menu ul li a {
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
}
/* line 99, ../sass/layouts.scss */
.top-menu .lang_switch {
  float: right;
  height: 35px;
  margin-top: 17px;
}
/* line 103, ../sass/layouts.scss */
.top-menu .lang_switch:hover .selected + ul {
  visibility: visible;
}
/* line 106, ../sass/layouts.scss */
.top-menu .lang_switch li {
  position: relative;
  width: 45px;
  padding: 0;
}
/* line 111, ../sass/layouts.scss */
.top-menu .lang_switch li a {
  display: block;
  padding: 0 15px 0 5px;
  border: 1px solid #fff;
  line-height: 21px;
  font-family: MyriadPro-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
/* line 119, ../sass/layouts.scss */
.top-menu .lang_switch li .selected:after {
  content: "\f107";
  font-family: FontAwesome;
  position: relative;
  right: -5px;
}
/* line 125, ../sass/layouts.scss */
.top-menu .lang_switch li ul {
  position: absolute;
  top: 25px;
  left: 0;
  visibility: hidden;
}
/* line 130, ../sass/layouts.scss */
.top-menu .lang_switch li ul li {
  display: block;
  width: 45px;
  border-top: 1px solid #000;
}
/* line 134, ../sass/layouts.scss */
.top-menu .lang_switch li ul li:first-child {
  border-top: none;
}
/* line 137, ../sass/layouts.scss */
.top-menu .lang_switch li ul li a {
  background-color: #fff;
  color: #000;
}
/* line 140, ../sass/layouts.scss */
.top-menu .lang_switch li ul li a:hover {
  background-color: #988181;
}

/*-----Main----------------------------------------*/
/*-----Slider wrap--------*/
/* line 153, ../sass/layouts.scss */
.slider-wrap {
  position: relative;
  height: 415px;
}
/* line 156, ../sass/layouts.scss */
.slider-wrap .main-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 999;
}
/* line 162, ../sass/layouts.scss */
.slider-wrap .main-text h1 {
  font-size: 60px;
  color: #fff;
  line-height: 50px;
  font-family: RobotoCondensed-Bold;
  font-style: normal;
  font-weight: normal;
}

/* Slider */
/* line 171, ../sass/layouts.scss */
.slider {
  width: 100%;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
}

/* line 177, ../sass/layouts.scss */
.slide-list {
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 182, ../sass/layouts.scss */
.slide-wrap {
  position: relative;
  left: 0px;
  top: 0;
  width: 10000000px;
}

/* line 188, ../sass/layouts.scss */
.slide-item {
  width: 100%;
  max-width: 1200px;
  float: left;
}

/* line 193, ../sass/layouts.scss */
.first {
  margin-left: 88px;
}

/* line 196, ../sass/layouts.scss */
.second {
  margin-left: 198px;
}

/* line 199, ../sass/layouts.scss */
.third {
  margin-left: 260px;
}

/*-----About----------------------------------------*/
/* line 203, ../sass/layouts.scss */
.about {
  background: url(../images/bg_img.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 25px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*-----Calculator wrap-----*/
/* line 211, ../sass/layouts.scss */
.wrap-calculator {
  width: 100%;
  background-color: #E9E5E4;
  padding: 12px;
  margin-top: -184px;
}
/* line 216, ../sass/layouts.scss */
.wrap-calculator .calc-form {
  border: 1px dashed #A7A9AC;
  width: 100%;
  text-align: center;
  padding: 20px;
}
/* line 222, ../sass/layouts.scss */
.wrap-calculator .calc-form .form-title h2 {
  font-size: 36px;
  color: #25383f;
  text-transform: uppercase;
  margin-bottom: 18px;
  line-height: 33px;
  font-family: RobotoCondensed-Bold;
  font-style: normal;
  font-weight: normal;
}
/* line 230, ../sass/layouts.scss */
.wrap-calculator .calc-form .form-title p {
  font-size: 14px;
  color: #25383f;
  text-transform: uppercase;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
}
/* line 235, ../sass/layouts.scss */
.wrap-calculator .calc-form .form-title p:after {
  content: "";
  display: block;
  position: relative;
  bottom: -20px;
  margin: 0 auto;
  background-color: #d1d3d4;
  width: 61%;
  height: 1px;
}
/* line 245, ../sass/layouts.scss */
.wrap-calculator .calc-form .form-title p span {
  font-weight: bold;
}

/*-----Calculator-----*/
/* line 254, ../sass/layouts.scss */
.error {
  border: 1px solid red;
}

/* line 257, ../sass/layouts.scss */
.calc {
  margin-top: 30px;
}
/* line 259, ../sass/layouts.scss */
.calc p {
  font-size: 14px;
  color: #25383f;
  text-align: left;
  padding: 18px 0 10px 0;
  font-family: Roboto-Light;
  font-style: normal;
  font-weight: normal;
}
/* line 266, ../sass/layouts.scss */
.calc select, .calc input {
  width: 100%;
  background-color: #FEFEFE;
  border: 1px solid #D1D3D4;
  min-height: 30px;
  font-size: 14px;
  padding: 0px 5px 5px 8px;
  color: #A7A9AC;
  outline: none;
}
/* line 275, ../sass/layouts.scss */
.calc select:focus, .calc input:focus {
  color: #000;
}
/* line 279, ../sass/layouts.scss */
.calc .result-wrap {
  margin-top: 15px;
  color: #d26441;
}
/* line 282, ../sass/layouts.scss */
.calc .result-wrap:before {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: #d1d3d4;
  width: 61%;
  height: 1px;
}
/* line 291, ../sass/layouts.scss */
.calc .result-wrap p {
  color: #d26441;
  text-align: center;
  padding: 6px 0 10px 0;
  text-transform: uppercase;
}
/* line 296, ../sass/layouts.scss */
.calc .result-wrap p:last-child {
  padding: 0;
  color: #000;
}
/* line 301, ../sass/layouts.scss */
.calc .result-wrap span {
  font-size: 47px;
  font-family: RobotoCondensed-Bold;
  font-style: normal;
  font-weight: normal;
}
/* line 306, ../sass/layouts.scss */
.calc .result-wrap .result {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 94%;
  overflow: hidden;
}

/* line 317, ../sass/layouts.scss */
.benefits-item {
  margin-left: -50px;
  margin-bottom: 35px;
  padding-left: 60px;
  background: url(../images/star.png);
  background-repeat: no-repeat;
  background-position: 5px top;
}
/* line 324, ../sass/layouts.scss */
.benefits-item h3 {
  text-transform: uppercase;
  color: #4d4545;
  font-size: 25px;
  margin-top: 10px;
  font-family: RobotoCondensed-Bold;
  font-style: normal;
  font-weight: normal;
}
/* line 331, ../sass/layouts.scss */
.benefits-item p {
  color: #a7a9ac;
  font-size: 11px;
  line-height: 11px;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
}
/* line 337, ../sass/layouts.scss */
.benefits-item span {
  display: block;
  margin-top: 5px;
  color: #c49a6c;
  font-size: 25px;
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
}

/* line 345, ../sass/layouts.scss */
.about-more {
  margin-top: 46px;
  margin-left: -40px;
}
/* line 349, ../sass/layouts.scss */
.about-more h4 {
  font-size: 42px;
  color: #000;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: RobotoCondensed-Bold;
  font-style: normal;
  font-weight: normal;
}
/* line 357, ../sass/layouts.scss */
.about-more a {
  text-transform: uppercase;
  font-size: 23px;
  margin-left: 10px;
  font-family: HelveticaNeue-CondensedBold;
  font-style: normal;
  font-weight: normal;
}
/* line 363, ../sass/layouts.scss */
.about-more .btn {
  display: inline-block;
  vertical-align: middle;
  border: 4px solid #000;
  padding: 17px 27px;
  color: #000;
  background: transparent;
}
/* line 370, ../sass/layouts.scss */
.about-more .btn:hover {
  background-color: #000;
  color: #fff;
}

/* line 376, ../sass/layouts.scss */
.img-wrap {
  width: 180px;
  margin: 0px 0 0 23px;
}
/* line 379, ../sass/layouts.scss */
.img-wrap img {
  margin-top: -55px;
}
