/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@font-face { font-family: RobotoCondensed-Bold; font-style: normal; font-weight: normal; src: url("../fonts/RobotoCondensed-Bold.eot?#iefix"); src: url("../fonts/RobotoCondensed-Bold.eot?") format("eot"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"); }
@font-face { font-family: Roboto-Light; font-style: normal; font-weight: normal; src: url("../fonts/Roboto-Light.eot?#iefix"); src: url("../fonts/Roboto-Light.eot?") format("eot"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"); }
@font-face { font-family: MyriadPro-Regular; font-style: normal; font-weight: normal; src: url("../fonts/MyriadPro-Regular.eot?#iefix"); src: url("../fonts/MyriadPro-Regular.eot?") format("eot"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"); }
@font-face { font-family: Roboto-Regular; font-style: normal; font-weight: normal; src: url("../fonts/Roboto-Regular.eot?#iefix"); src: url("../fonts/Roboto-Regular.eot?") format("eot"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face { font-family: HelveticaNeue-CondensedBold; font-style: normal; font-weight: normal; src: url("../fonts/HelveticaNeue-CondensedBold.eot?#iefix"); src: url("../fonts/HelveticaNeue-CondensedBold.eot?") format("eot"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype"); }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

body { min-width: 1000px; }

.wrapper { max-width: 1200px; margin: 0 auto; }

.container { margin: 0 auto; width: 1000px; }

h1, h2, h3, h4, h5, h6 { font-size: 50.5px; color: #fff; text-transform: uppercase; }

p { font-size: 14px; color: #fff; }

.row { margin-left: -15px; margin-right: -15px; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

.col-1 { width: 8.33333%; }

.col-2 { width: 16.66667%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33333%; }

.col-5 { width: 41.66667%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33333%; }

.col-8 { width: 66.66666%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33333%; }

.col-11 { width: 91.66667%; }

.col-12 { width: 100%; }

a { text-decoration: none; }

[class*=col-] { position: relative; float: left; min-height: 1px; padding-left: 15px; padding-right: 15px; }

input { -moz-appearance: textfield; }

input::-webkit-inner-spin-button { display: none; }

/*-----header----------------------------------------*/
.header { position: absolute; top: 0; left: 0; right: 0; z-index: 999; }
.header .header_wrap { padding-top: 50px; }
.header .header-top:before, .header .header-top:after { content: ""; display: table; }
.header .header-top:after { clear: both; }
.header .header-top .logo { float: left; }
.header .header-top .logo h1 { font-family: RobotoCondensed-Bold; font-style: normal; font-weight: normal; }

/*-----Main menu-----------*/
.main-menu { margin-top: 9px; padding: 1px; background-color: #f5f5f5; -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); -ms-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); -o-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); }
.main-menu:before, .main-menu:after { content: ""; display: table; }
.main-menu:after { clear: both; }
.main-menu li { float: left; }
.main-menu li a { display: block; position: relative; height: 47px; line-height: 46px; padding: 0 23px; font-size: 14px; text-transform: uppercase; color: #6d6e71; font-family: RobotoCondensed-Bold; font-style: normal; font-weight: normal; }
.main-menu .menu-item a:after { content: "\f0da"; position: absolute; right: 5px; font-size: 10px; font-family: FontAwesome; color: #6D6E71; }
.main-menu .cart { float: right; background-color: #5d8f25; background: #54a329; background: -moz-linear-gradient(top, #54a329 0%, #421e20 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #54a329), color-stop(100%, #421e20)); background: -webkit-linear-gradient(top, #54a329 0%, #421e20 100%); background: -o-linear-gradient(top, #54a329 0%, #421e20 100%); background: -ms-linear-gradient(top, #54a329 0%, #421e20 100%); background: linear-gradient(to bottom, #54a329 0%, #421e20 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54a329', endColorstr='#421e20', GradientType=0 ); }
.main-menu .cart a { padding: 0 65px 0 41px; color: #fff; }
.main-menu .cart .fa { padding: 2px 4px 2px 2px; border: 1px solid #ffffff; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; margin-right: 5px; }

/*-----top menu-----------*/
.top-menu { float: right; width: 57%; }
.top-menu ul { float: left; }
.top-menu ul li { float: left; padding: 20px 22px; }
.top-menu ul li a { text-transform: uppercase; font-size: 11px; color: #fff; font-family: Roboto-Light; font-style: normal; font-weight: normal; }
.top-menu .lang_switch { float: right; height: 35px; margin-top: 17px; }
.top-menu .lang_switch:hover .selected + ul { visibility: visible; }
.top-menu .lang_switch li { position: relative; width: 45px; padding: 0; }
.top-menu .lang_switch li a { display: block; padding: 0 5px 0 5px; border: 1px solid #fff; line-height: 21px; font-family: MyriadPro-Regular; font-style: normal; font-weight: normal; font-size: 14px; }
.top-menu .lang_switch li .selected:after { content: "\f107"; font-family: FontAwesome; position: relative; right: -5px; }
.top-menu .lang_switch li ul { position: absolute; top: 25px; left: 0; visibility: hidden; }
.top-menu .lang_switch li ul li { display: block; width: 45px; border-top: 1px solid #000; }
.top-menu .lang_switch li ul li:first-child { border-top: none; }
.top-menu .lang_switch li ul li a { background-color: #fff; color: #000; }
.top-menu .lang_switch li ul li a:hover { background-color: #988181; }

/*-----Main----------------------------------------*/
/*-----Slider wrap--------*/
.slider-wrap { position: relative; height: 415px; }
.slider-wrap .main-text { position: absolute; bottom: 10px; left: 0; right: 0; z-index: 999; }
.slider-wrap .main-text h1 { font-size: 60px; color: #fff; line-height: 50px; font-family: RobotoCondensed-Bold; font-style: normal; font-weight: normal; }

/* Slider */
.slider { width: 100%; max-width: 1200px; position: relative; overflow: hidden; }

.slide-list { position: relative; margin: 0; padding: 0; }

.slide-wrap { position: relative; left: 0px; top: 0; width: 10000000px; }

.slide-item { width: 100%; max-width: 1200px; float: left; }

.first { margin-left: 88px; }

.second { margin-left: 198px; }

.third { margin-left: 260px; }

/*-----About----------------------------------------*/
.about { background: url(../images/bg_img.png); background-repeat: no-repeat; background-position: center; padding-bottom: 25px; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; -o-background-size: cover; background-size: cover; }

/*-----Calculator wrap-----*/
.wrap-calculator { width: 100%; background-color: #E9E5E4; padding: 12px; margin-top: -184px; }
.wrap-calculator .calc-form { border: 1px dashed #A7A9AC; width: 100%; text-align: center; padding: 20px; }
.wrap-calculator .calc-form .form-title h2 { font-size: 36px; color: #25383f; text-transform: uppercase; margin-bottom: 18px; line-height: 33px; font-family: RobotoCondensed-Bold; font-style: normal; font-weight: normal; }
.wrap-calculator .calc-form .form-title p { font-size: 14px; color: #25383f; text-transform: uppercase; font-family: Roboto-Light; font-style: normal; font-weight: normal; }
.wrap-calculator .calc-form .form-title p:after { content: ""; display: block; position: relative; bottom: -20px; margin: 0 auto; background-color: #d1d3d4; width: 61%; height: 1px; }
.wrap-calculator .calc-form .form-title p span { font-weight: bold; }

/*-----Calculator-----*/
.error { color: red; }

.calc { margin-top: 30px; }
.calc p { font-size: 14px; color: #25383f; text-align: left; padding: 18px 0 10px 0; font-family: Roboto-Light; font-style: normal; font-weight: normal; }
.calc select, .calc input { width: 100%; background-color: #FEFEFE; border: 1px solid #D1D3D4; min-height: 30px; font-size: 14px; padding: 0px 5px 5px 8px; color: #A7A9AC; outline: none; }
.calc select:focus, .calc input:focus { color: #000; }
.calc .result-wrap { margin-top: 15px; color: #d26441; }
.calc .result-wrap:before { content: ""; display: block; position: relative; margin: 0 auto; background-color: #d1d3d4; width: 61%; height: 1px; }
.calc .result-wrap p { color: #d26441; text-align: center; padding: 6px 0 10px 0; text-transform: uppercase; }
.calc .result-wrap p:last-child { padding: 0; color: #000; }
.calc .result-wrap span { font-size: 47px; font-family: RobotoCondensed-Bold; font-style: normal; font-weight: normal; }
.calc .result-wrap .result { display: inline-block; margin-bottom: 5px; max-width: 94%; overflow: hidden; }

/*-----Left side-----*/
.benefits-item { margin-left: -50px; margin-bottom: 35px; padding-left: 60px; background: url(../images/star.png); background-repeat: no-repeat; background-position: 5px top; }
.benefits-item h3 { text-transform: uppercase; color: #4d4545; font-size: 25px; margin-top: 10px; font-family: RobotoCondensed-Bold; font-style: normal; font-weight: normal; }
.benefits-item p { color: #a7a9ac; font-size: 11px; line-height: 11px; font-family: Roboto-Regular; font-style: normal; font-weight: normal; }
.benefits-item span { display: block; margin-top: 5px; color: #c49a6c; font-size: 25px; font-family: Roboto-Regular; font-style: normal; font-weight: normal; }

.about-more { margin-top: 46px; margin-left: -40px; }
.about-more h4 { font-size: 42px; color: #000; line-height: 50px; text-transform: uppercase; margin-bottom: 15px; font-family: RobotoCondensed-Bold; font-style: normal; font-weight: normal; }
.about-more a { text-transform: uppercase; font-size: 23px; margin-left: 10px; font-family: HelveticaNeue-CondensedBold; font-style: normal; font-weight: normal; }
.about-more .btn { display: inline-block; vertical-align: middle; border: 4px solid #000; padding: 17px 27px; color: #000; background: transparent; }
.about-more .btn:hover { background-color: #000; color: #fff; }

.img-wrap { width: 180px; margin: 0px 0 0 23px; }
.img-wrap img { margin-top: -55px; }
