
@import "mixins";
@import "fonts";

$padding:0 10px;
$color:#ff4e50;

*{
	@include box;
}
body{
	min-width: 1000px;
}
.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
.container{
	margin: 0 auto;
	width: 1000px;
}
h1,h2,h3,h4,h5,h6{

	font-size: 50.5px;
	color: #fff;
	text-transform: uppercase;
}
p{
	font-size: 14px;
	color: #fff;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
	@include clr();
}
.col-1{
	width: 8.33333%;
}
.col-2{
	width: 16.66667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33333%;

}
.col-5{
	width: 41.66667%;

}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33333%;
}
.col-8{
	width: 66.66666%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33333%;
}
.col-11{
	width: 91.66667%;
}
.col-12{
	width: 100%;
}
a{
	text-decoration: none;
}
[class*=col-]{
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}